.button_green
{
     -fx-background-color: #4CAF50; /* Green */
     -fx-background-radius: 0;
}

.login
{
    -fx-background-color: #eceff1; /* Bluish */
}
.hbox {
    -fx-background-color: #E8EAF6;
    -fx-padding: 5;
    -fx-spacing: 10;
}
